body {
  font-family: "Roboto", sans-serif; }
  body h5 {
    font-family: "Poppins", sans-serif;
    font-weight: 100; }
  body h4 {
    font-family: "Poppins", sans-serif;
    font-weight: 300; }

.navbar-brand {
  font-family: "Poppins", sans-serif;
  font-weight: 300; }

#modal-image-container {
  width: 100%;
  height: auto; }

.modal-popover {
  position: absolute;
  width: 100%;
  height: 33.33%; }
  .modal-popover a {
    width: 100%;
    height: 100%;
    display: inline-block; }
  .modal-popover a:focus {
    outline: none; }

.modal-popover.top {
  top: 0; }

.modal-popover.middle {
  top: 33.33%; }

.modal-popover.bottom {
  top: 66.66%; }

.carousel {
  font-family: "Playfair Display", "Times New Roman", Times, serif; }
  .carousel img {
    max-height: 330px; }

#plantcarousel {
  margin-top: 40px; }

.carousel-item {
  background-color: bisque;
  color: darkslategrey;
  height: 350px; }
  .carousel-item .row {
    height: 100%; }
  .carousel-item .carousel-text {
    padding: 4em; }

.card {
  height: 100%; }

.card:not(.explainer):hover {
  cursor: pointer; }

.explainer {
  background-color: darkolivegreen;
  color: antiquewhite;
  font-family: "Playfair Display", "Times New Roman", Times, serif; }
  .explainer h5 {
    font-family: "EB Garamond", "Times New Roman", Times, serif;
    font-weight: bolder; }
