$bg-color: bisque;
$color: darkslategrey;
$header: 'Poppins', sans-serif;
$body: 'Roboto', sans-serif;
$alt-bg-color: darkolivegreen;
$alt-color: antiquewhite;
$alt-header: 'EB Garamond', 'Times New Roman', Times, serif;
$alt-body: 'Playfair Display', 'Times New Roman', Times, serif;


body {
    font-family: $body;
    h5 {
        font-family: $header;
        font-weight: 100;
    }
    h4 {
        font-family: $header;
        font-weight: 300;
    }
}

.navbar-brand {
    font-family: $header;
    font-weight: 300;
}

#modal-image-container {
    width: 100%;
    height: auto;
}

.modal-popover {
    position: absolute;
    width: 100%;
    height: 33.33%;

    a {
        width: 100%;
        height: 100%;
        display: inline-block;
    }

    a:focus {
        outline: none;
    }
}

.modal-popover.top {
    top: 0;
}

.modal-popover.middle {
    top: 33.33%;
}

.modal-popover.bottom {
    top: 66.66%;
}

.carousel {
    font-family: $alt-body;
    img {
        max-height: 330px;
    }
}

#plantcarousel {
    margin-top: 40px;
}

.carousel-item {
    background-color: $bg-color;
    color: $color;
    height: 350px;
    .row {
        height: 100%;
    }
    .carousel-text {
        padding: 4em;
    }
}

.card {
    height: 100%;
}

.card:not(.explainer):hover {
    cursor: pointer;
}

.explainer {
    background-color: $alt-bg-color;
    color: $alt-color;
    font-family: $alt-body;
    h5 {
        font-family: $alt-header;
        font-weight: bolder;
    }
  }