body {
  font-family: "Roboto", sans-serif; }
  body h5 {
    font-family: "Poppins", sans-serif;
    font-weight: 100; }
  body h4 {
    font-family: "Poppins", sans-serif;
    font-weight: 300; }

.carousel-btn-container {
  background: bisque;
  width: 100%;
  height: 100%; }

.carousel {
  font-family: "Playfair Display", "Times New Roman", Times, serif; }
  .carousel img {
    max-height: 330px; }
    @media screen and (max-width: 576px) {
      .carousel img.mb-3 {
        padding: 5px; } }

#plantcarousel {
  margin-top: 40px; }

.carousel-item {
  background-color: bisque;
  color: darkslategrey; }
  @media screen and (min-width: 992px) {
    .carousel-item {
      height: 370px; } }
  @media screen and (min-width: 768px) and (max-width: 992px) {
    .carousel-item {
      height: 550px; } }
  .carousel-item > .row {
    height: 100%; }
  .carousel-item .carousel-text-right {
    padding: 4em; }
    @media screen and (min-width: 576px) {
      .carousel-item .carousel-text-right {
        padding: 4em 4em 0 0; } }
  .carousel-item .carousel-text {
    padding: 4em; }
  @media screen and (max-width: 768px) {
    .carousel-item .plant-center {
      text-align: center; } }

.navbar-brand {
  font-family: "Poppins", sans-serif;
  font-weight: 300; }

.navbar-sticky {
  position: fixed;
  top: 0px;
  z-index: 9;
  background: white;
  width: 100vw; }

.card {
  height: 100%; }

.card:not(.explainer):hover {
  cursor: pointer; }

.explainer {
  background-color: darkolivegreen;
  color: antiquewhite;
  font-family: "Playfair Display", "Times New Roman", Times, serif; }
  .explainer a {
    color: burlywood; }
    .explainer a:hover {
      color: peru; }
  .explainer h5 {
    font-family: "EB Garamond", "Times New Roman", Times, serif;
    font-weight: bolder; }

#modal-image-container {
  width: 100%;
  height: auto; }

.modal-popover {
  position: absolute;
  width: 100%;
  height: 33.33%; }
  .modal-popover a {
    width: 100%;
    height: 100%;
    display: inline-block; }
  .modal-popover a:focus {
    outline: none; }

.modal-popover.top {
  top: 0; }

.modal-popover.middle {
  top: 33.33%; }

.modal-popover.bottom {
  top: 66.66%; }
